.word-list {
  list-style: none;
}

input {
  width: 250px;
  text-align: center;
}
.display {
  display: block;
}

.hide {
  display: none;
}
footer {
  position: absolute;
  bottom: 10px;
  right: 50px;
}
