body {
  background: beige;
  height: 100vh;
}

header {
  background: rgba(245, 245, 220, 0.584);
}

.word-list {
  list-style: none;
}

input {
  width: 250px;
  text-align: center;
}
.display {
  display: block;
  color: blue;
}

.hide {
  display: none;
}

.word-display {
  margin-top: 30px;
}
.current-word-container {
  margin-top: 30px;
  padding: 0px;
}
.current-word {
  font-size: 72px;
}

/* Modal for start screen */
.gamestart-header {
  display: block;
  margin: 30px auto;
  padding: 30px;
}
.gamestart-body {
  padding: 30px;
}
.modal-gamestart {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  z-index: 100;
}
.modal-gamestart .gamestart-content {
  font-family: 'Press Start 2P', monospace;
  background: navy;
  color: white;
  width: 100%;
  max-width: 1200px;
  padding: 30px;
  margin: 30px auto;
  border: 1px solid white;
  cursor: pointer;
}
/* Modal for instructions and level selection */
.modal-instructions {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  z-index: 100;
}
.modal-instructions .instructions-content {
  font-family: 'Press Start 2P', monospace;
  background: black;
  color: white;
  width: 100%;
  max-width: 800px;
  padding: 30px;
  margin: 30px auto;
  border: 1px solid white;
}
/* Modal for game over */
.modal-gameover {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  z-index: 100;
}
.modal-gameover .gameover-content {
  font-family: 'Press Start 2P', monospace;
  background: navy;
  color: white;
  width: 100%;
  max-width: 800px;
  padding: 30px;
  margin: 30px auto;
  border: 1px solid white;
}
.modal-gameover .gameover-content h5 {
  display: inline-block;
  padding: 10px;
  margin-right: 30px;
}

.modal-gameover .gameover-content button {
  display: block;
  margin: 0 auto;
}

.modal-cover {
  background: black;
  width: 100%;
  height: 100vh;
  opacity: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  z-index: 99;
}

.blinking {
  animation-name: flash;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}
@keyframes flash {
  from {
    color: red;
  }
  to {
    color: black;
  }
}

div .fight-animation {
  position: relative;
  display: inline;
  z-index: 96;
}

.gifs {
  position: absolute;
  bottom: -50px;
  left: 50px;
  z-index: 97;
}

#backdrop {
  /* margin-top: 20px; */
  width: 600px;
  height: 100%;
}

#boss {
  position: absolute;
  bottom: -100px;
  left: 450px;
  z-index: 97;
  width: 100px;
}
.boss-shake {
  animation: shake 0.4s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
