.heading {
  background-color: whitesmoke;
}
.word-list {
  list-style: none;
}

input {
  width: 250px;
  text-align: center;
}
.display {
  display: block;
  color: blue;
}

.hide {
  display: none;
}

.current-word-container {
  padding: 20px;
}
.current-word {
  font-size: 72px;
}
footer {
  position: absolute;
  bottom: 10px;
  right: 50px;
}
